<header>
    <nav [ngClass]="{'project-nav': projectPage}">
        <div><img src="./assets/icons/logo.svg" alt=""></div>
        <a href="#aboutMe" [ngClass]="{'active-nav': activeSection === 'aboutMe', 'black-link': projectPage}">{{ 'header.about-me' | translate }}</a>
        <a href="#skills" [ngClass]="{'active-nav': activeSection === 'skills', 'black-link': projectPage}">{{ 'header.skills' | translate }}</a>
        <a href="#projects" [ngClass]="{'active-nav': activeSection === 'projects'}">{{ 'header.projects' | translate }}</a>
        <a href="#contact" [ngClass]="{'active-nav': activeSection === 'contact'}">{{ 'header.contact' | translate }}</a>
        <div class="translate-conent">
            <a (click)="changeLanguage('en')" href="#" [ngClass]="{'active-language': currentLanguage === 'en'}">EN</a>
            <a (click)="changeLanguage('de')" href="#" [ngClass]="{'active-language': currentLanguage === 'de'}">DE</a>
        </div>
    </nav>
</header>
