<div id="background">
    <section id="contact" class="fontBricolageG">
        <div (mouseover)="showImage()">
            <div>
                <p>{{ 'contactFrom.headline' | translate }}</p>
                <h1>{{ 'contactFrom.title' | translate }}</h1>
                <span>{{ 'contactFrom.text' | translate }}
                    <br><br>
                    {{ 'contactFrom.text2' | translate }}
                    <br><br>
                    {{ 'contactFrom.subline' | translate }}
                </span>

                <div class="line">
                    @if(showAnimation && isHovered){
                    <img class="hover-image" src="./assets/toggle/Line.svg" alt="Blueline">
                    }@else{
                    <img class="hover-image" src="./assets/toggle/linie-e.svg" alt="line">
                    }
                </div>

            </div>


            <div class="contact_container">
                <form (ngSubmit)="onSubmit(contactform)" #contactform="ngForm">

                    <label for="name" [ngClass]="{'error': nameError}">{{ 'contactFrom.name' | translate }}</label>
                    <input class="input_contact" [(ngModel)]="contactData.name" name="name" type="text" id="name"
                        #nameModel="ngModel" required (blur)="checkPlaceholder('name')"
                        [placeholder]="nameError ? ('contactFrom.name-f' | translate) : ('contactFrom.name-input' | translate)"
                        [ngClass]="{'error': nameError}">

                    <label for="email" [ngClass]="{'error': emailError}">{{ 'contactFrom.email' | translate }}</label>
                    <input class="input_contact" [(ngModel)]="contactData.email" name="email" type="text" id="email"
                        #emailModel="ngModel" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
                        (blur)="checkPlaceholder('email')"
                        [placeholder]="emailError ? ('contactFrom.email-f' | translate) : ('contactFrom.email-input' | translate)"
                        [ngClass]="{'error': emailError}">

                    <label for="message" [ngClass]="{'error': messageError}">{{ 'contactFrom.help' | translate
                        }}</label>
                    <textarea class="input_contact" [(ngModel)]="contactData.message" name="message" id="message"
                        #messageModel="ngModel" minlength="6" (blur)="checkPlaceholder('message')"
                        [placeholder]="messageError ? ('contactFrom.help-f' | translate) : ('contactFrom.help-input' | translate)"
                        [ngClass]="{'error': messageError}">
                    </textarea>

                    <div class="check_box">
                        <label>
                            <input type="checkbox" [(ngModel)]="isChecked" name="check" id="check">
                            <span class="policy-link" [innerHTML]="policyText" (click)="openPolicy()"></span>
                        </label>

                        <input type="submit" value="{{ 'contactFrom.send' | translate }}" 
                            [ngClass]="{'enabled-button': isFormValid(), 'disabled-button': !isFormValid()}">

                    </div>
                </form>
            </div>

        </div>

        <app-footer (openDialogEvent)="openImpressum()"></app-footer>


    </section>
</div>