@media (max-width: 1200px) {
    section {
        height: 120vh;
        padding-top: 50px;
        background-size: cover;

        .content {
            gap: 120px;

            .headline-container {
                flex-direction: column;

                .headline {
                    margin-right: 0;
                }

                .paper-content {
                    justify-content: center;
                    align-items: center;
                    margin-right: 0;
                }
            }

            .sub-content {
                gap: 10px;
                justify-content: center;
                flex-direction: column;
                position: relative;
                top: -80px;

                .skills_content {
                    width: 50%;
                    gap: 30px;
                }
            }
        }

        .blueline_content {
            width: 265px;
            height: 80px;
            left: 380px;
            top: -140px;
        }
    }

    .my-text {
        top: -130px;
        left: 10px;
    }
}

@media (max-width: 1120px) {

    section {
        .content {
            gap: 180px;

            .sub-content {
                .sticker {
                    top: -100px;
                    left: 120px
                }
            }
        }

        .blueline_content {
            left: 340px;
            top: -200px;
        }
    }
}


@media (max-width: 1027px) {

    section {
        .blueline_content {
            left: 300px;
        }
    }
}

@media (max-width: 960px) {

    section {
        .blueline_content {
            left: 270px;
        }
    }
}


@media (max-width: 917px) {

    section {
        .content {
            .sub-content {
                .skills_content {
                    width: 60%;
                }
            }
        }

        .blueline_content {
            left: 260px;
            top: -200px;
        }
    }
}

@media (max-width: 895px) {

    section {
        .content {
            align-items: center;

            .sub-content {
                width: 80%;
                height: auto;
                top: -130px;

                .skills_content {
                    width: 100%;
                    gap: 35px;
                }

                .sticker {
                    top: -10px;
                }
            }
        }

        .blueline_content {
            left: 220px;
            top: -150px;
        }
    }
}

@media (max-width: 800px) {

    section {
        .content {
            padding: 19px 30px;
            gap: 200px;

            .sub-content {
                width: 90%;
                height: auto;

                .skills_content {
                    gap: 50px;
                    justify-content: space-between;

                    div {
                        img {
                            filter: grayscale(0%);
                        }

                        img:hover {
                            transform: scale(1);
                            filter: grayscale(0%);
                        }
                    }
                }

                .sticker {
                    top: -30px;
                    width: 170px;
                    height: 170px;
                }
            }
        }

        .blueline_content {
            top: -170px;
        }
    }
}

@media (max-width: 699px) {

    section {
        .content {
            .headline-container {
                .paper-content {
                    width: 580px;

                    img {
                        height: 160px;
                        width: 580px;
                        object-fit: cover;
                    }

                    .my-text {
                        top: -140px;
                        width: 500px;
                        height: 120px;
                    }
                }
            }

            .sub-content {
                width: 90%;
                display: flex;
                flex-direction: column;
                height: auto;
                top: 20px;

                .skills_content {
                    gap: 35px;
                    position: relative;
                    top: -150px;
                }

                .sticker {
                    top: -210px;
                }
            }

            .blueline_content {
                left: 160px;
                top: -320px;
            }
        }
    }
}

@media (max-width: 632px) {
    section {
        .content {
            .headline-container {
                .paper-content {
                    width: 560px;

                    img {
                        height: 165px;
                        width: 560px;
                    }

                    .my-text {
                        top: -149px;
                        width: 500px;
                        height: 120px;
                    }
                }
            }

            .sub-content {
                top: 100px;

                .skills_content {
                    gap: 55px;
                    justify-content: flex-start;
                }

                .sticker {
                    top: -255px;
                }
            }

            .blueline_content {
                top: -400px;
            }
        }
    }
}

@media (max-width: 600px) {
    section {
        .content {
            .headline-container {
                .paper-content {
                    width: 520px;

                    img {
                        height: 165px;
                        width: 520px;
                    }

                    .my-text {
                        top: -149px;
                        width: 510px;
                        height: 120px;
                    }
                }
            }

            .blueline_content {
                left: 140px;
            }
        }
    }
}

@media (max-width: 580px) {
    section {
        .content {

            .sub-content {
                top: 20px;

                .skills_content {
                    gap: 30px;
                    top: -120px;
                    margin-left: auto;

                    div {
                        justify-content: space-between;

                        img {
                            width: 55px;
                        }
                    }
                }

                .sticker {
                    top: -230px;
                }
            }

            .blueline_content {
                top: -320px;
            }
        }
    }
}


@media (max-width: 560px) {

    section {
        .content {
            .headline-container {
                .headline {
                    margin-right: 0px;
                }

                .paper-content {
                    width: 480px;

                    img {
                        height: 190px;
                        width: 480px;
                    }

                    .my-text {
                        top: -160px;
                        width: 480px;
                    }
                }
            }

            .sub-content {
                top: 90px;

                .skills_content {
                    width: 100%;
                    gap: 40px;
                    top: -140px;
                }

                .sticker {
                    left: 100px;
                }
            }

            .blueline_content {
                top: -390px;
                left: 120px;
            }
        }
    }
}


@media (max-width: 530px) {
    section {
        .content {
            .headline-container {
                .paper-content {
                    width: 420px;

                    img {
                        height: 195px;
                        width: 420px;
                    }

                    .my-text {
                        top: -165px;
                        width: 410px;
                    }
                }
            }

            .sub-content {
                .skills_content {
                    gap: 25px;
                    top: -150px;
                }
            }

            .blueline_content {
                top: -390px;
                left: 90px;
            }
        }
    }

}

@media (max-width: 480px) {
    section {
        .content {
            .sub-content {
                .skills_content {
                    justify-content: space-between;
                    top: -110px;
                }

                .sticker {
                    top: -190px;
                    left: 100px;
                    width: 150px;
                    height: 150px;
                }
            }

            .blueline_content {
                left: 90px;
            }
        }
    }

}



@media (max-width: 456px) {
    section {
        .content {
            .headline-container {
                .paper-content {
                    width: 380px;
                    position: relative;
                    top: -50px;

                    img {
                        height: 230px;
                        width: 380px;
                    }

                    .my-text {
                        top: -195px;
                        width: 370px;
                    }
                }
            }

            .sub-content {
                top: 100px;

                .skills_content {
                    top: -160px;
                }

                .sticker {
                    top: -220px;
                    left: 60px;
                }
            }

            .blueline_content {
                top: -400px;
                left: 70px;
            }
        }
    }

}

@media (max-width: 420px) {
    section {
        .content {
            gap: 218px;

            .headline-container {
                .paper-content {
                    width: 340px;

                    img {
                        height: 250px;
                        width: 340px;
                    }

                    .my-text {
                        top: -210px;
                        width: 320px;
                    }
                }
            }

            .blueline_content {
                top: -420px;
                left: 50px;
            }
        }
    }
}

@media (max-width: 401px) {
    section {

        .content {
            gap: 200px;

            .headline-container {
                .headline {
                    h1 {
                        font-size: 50px;
                    }

                    p {
                        font-size: 16px;
                    }
                }
            }

            .sub-content {
                .skills_content {
                    gap: 20px;
                    top: -140px;
                }

                .sticker {
                    top: -190px;
                    width: 162px;
                }
            }

            .blueline_content {
                top: -400px;
                left: 80px;
                width: 200px;
                height: 60px;
                object-fit: cover;

                .hover-image {
                    width: 200px;

                }

            }
        }
    }
}


@media (max-width: 381px) {
    section {
        .content {
            padding: 19px 0px;

        }
    }
}

@media (max-width: 370px) {
    section {
        padding: 50px 10px;

        .content {
            .headline-container {
                .paper-content {
                    width: 310px;

                    img {
                        height: 250px;
                        width: 310px;
                    }

                    span {
                        font-size: 15px;
                    }
                }
            }

            .blueline_content {
                left: 60px;
            }
        }
    }
}

@media (max-width: 345px) {
    section {
        padding: 50px 10px;

        .content {
            .headline-container {
                .paper-content {
                    width: 290px;

                    img {
                        height: 250px;
                        width: 290px;
                    }
                }
            }

        }
    }
}


@media (max-width: 321px) {
    section {
        .content {
            gap: 172px;

            .headline-container {
                .paper-content {
                    width: 280px;

                    img {
                        height: 255px;
                        width: 280px;
                    }

                    .my-text {
                        top: -217px;
                        width: 280px;
                    }
                }
            }

            .sub-content {
                top: 100px;

                .skills_content {
                    gap: 30px;
                    top: -90px;

                    div {
                        justify-content: center;

                        p {
                            width: 60px;
                            font-size: 15px;
                        }
                    }
                }

                .sticker {
                    top: -160px;
                    left: 40px;
                }
            }

            .blueline_content {
                top: -380px;
                left: 50px;
            }

        }
    }
}