@media (max-width: 1278px) {
    section {
        .content {
            .sub-content {

                .skills_content {
                    width: 67%;
                    gap: 30px;
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    section {
        height: 110vh;
        padding-top: 50px;
        background-size: cover;

        .content {
            gap: 120px;

            .headline-container {
                flex-direction: column;

                .headline {
                    margin-right: 0;
                }

                .paper-content {
                    justify-content: center;
                    align-items: center;
                    margin-right: 0;
                    overflow-x: clip;
                }
            }

            .sub-content {
                gap: 10px;
                justify-content: center;
                flex-direction: column;
                top: -230px;

                .skills_content {
                    width: 65%;
                }

                .sticker {
                    top: -40px;
                    left: 120px;
                }
            }
        }

        .blueline_content {
            display: flex;
            justify-content: end;
            width: 100%;
            left: 20px;
            top: -230px;
        }

        .my-text {
            left: 10px;
        }

    }
}

@media (max-width: 1030px) {

    section {
        .content {
            .sub-content {
                .skills_content {
                    width: 71%;
                }
            }
        }
    }
}

@media (max-width: 955px) {
    section {
        .content {
            .sub-content {
                top: -200px;

                .sticker {
                    top: -90px;
                    left: 170px;
                }
            }
        }
    }
}

@media (max-width: 789px) {
    section {
        height: 115vh;

        .content {
            padding: 19px 50px;

            .sub-content {
                .skills_content {
                    width: 80%;
                }
            }
        }
    }
}

@media (max-width: 685px) {
    section {
        .content {
            padding: 19px 20px;

            .headline-container {
                .paper-content {
                    img {
                        height: 180px;
                    }
                }
            }

            .sub-content {
                top: -180px;

                .skills_content {
                    width: 89%;
                }

                .sticker {
                    top: -70px;
                    left: 130px;
                }
            }
        }
    }

    .my-text {
        top: -150px;
        left: 0px;
    }

}

@media (max-width: 588px) {
    section {
        .content {
            .headline-container {
                div {
                    p {
                        font-size: 16px;
                    }

                    h1 {
                        font-size: 50px;
                    }
                }
            }

            .sub-content {
                .skills_content {
                    width: 100%;
                }

                .sticker {
                    top: -40px;
                    left: 100px;
                }
            }
        }

        .blueline_content {
            left: 0px;
            top: -240px;

            .hover-image {
                width: 200px;
            }
        }
    }
}