<section id="skills" class="fontBricolageG" (mouseover)="showImage()">
    <div class="content">
        <div class="headline-container">
            <div class="headline">
                <p>{{ 'my-stack.headline' | translate }}</p>
                <h1>{{ 'my-stack.title' | translate }}</h1>
            </div>
            <div class="paper-content">
                <img class="text" src="./assets/img/skill_paper.svg" alt="skill">
                <span  class="my-text">{{ 'my-stack.text' | translate }}</span>
            </div>
        </div>

        <div class="sub-content">
            <div class="blueline_content">
                @if(showAnimation && isHovered){
                <img class="hover-image" src="./assets/toggle/skillsline.svg" alt="Blueline">
                }@else{
                <img class="hover-image" src="./assets/toggle/skillslineD.svg" alt="Blueline">
                }
            </div>
            
            <div class="skills_content">
                @for(skill of skills; track $index){
                <div>
                    <img src="{{skill.icon}}" alt="{{skill.name}}">
                    <p>{{skill.name}}</p>
                </div>
                }
            </div>

            <div class="sticker" (click)="toggleImage()">
                <ng-container *ngIf="isClicked; else defaultTemplate">
                  <img src="{{ 'my-stack.sticker-hover' | translate }}" alt="Sticker" class="hover-image">
                </ng-container>
                <ng-template #defaultTemplate>
                  <img src="{{ 'my-stack.sticker-default' | translate }}" alt="Sticker" class="default-image">
                </ng-template>
                
                <img src="{{ 'my-stack.sticker-hover' | translate }}" alt="Sticker" class="hover-image">

                <img src="./assets/toggle/sticker2.svg" alt="Sticker" class="sticker2-image"
                     [ngClass]="{'animate-diagonal': isClicked}"
                     [style.opacity]="isClicked ? '1' : '0'">
              </div>
              
        </div>
    </div>

</section>