section {
    height: 100vh;
    width: 100%;
    background-image: url('./../../../../public/assets/img/bg_myStack.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    padding-top: 100px;
    align-items: center;
    flex-direction: column;

    .content {
        max-width: 1440px;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 19px 72px;
        gap: 20px;

        .headline-container {
            display: flex;
            flex-direction: row;
            gap: 50px;

            div {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                margin-right: 50px;

                p {
                    color: #fff;
                    padding-bottom: 10px;
                    font-weight: 500;
                    font-size: 20px;
                }

                h1 {
                    color: #fff;
                    font-size: 64px;
                    font-weight: 700;
                    z-index: 2;
                }
            }
        }

        .sub-content {
            display: flex;
            flex-direction: row;
            gap: 50px;
            align-items: center;

            .skills_content {
                height: 344px;
                width: 60%;
                display: flex;
                align-content: center;
                flex-wrap: wrap;
                align-items: center;
                gap: 50px;
                justify-content: flex-start;

                p {
                    color: #fff;
                    padding-bottom: 10px;
                    font-size: 18px;
                    text-align: center;
                    width: 72px;
                    height: 15px;
                }
            }

            .sticker {
                transform: rotate(9deg);
                position: relative;
                display: inline-block;
                cursor: pointer;
                overflow: hidden;
                /* Alles außerhalb des Containers wird ausgeblendet */
                width: 200px;
                height: 200px;
                border-radius: 15px;
            }

            .hover-image {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                width: 100%;
                height: 100%;
                transition: none;
            }

            .default-image,
            .sticker2-image {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
                width: 100%;
                height: 100%;
            }

            .sticker2-image {
                z-index: 2;
                transition: transform 225ms ease;
            }

            .animate-diagonal {
                animation: slideOut 1s forwards;
            }

            @keyframes slideOut {
                0% {
                    transform: translate(0, 0);
                }

                100% {
                    transform: translate(-200px, 200px);
                }
            }
        }
    }

    .blueline_content {
        width: 390px;
        height: 100px;
        z-index: 1;
        position: relative;
        top: -270px;

        @keyframes drawLeftToRight {
            0% {
                clip-path: inset(100% 0 0 0);
                opacity: 0;
            }

            10% {
                clip-path: inset(0 0 0 0);
                opacity: 1;
            }

            90% {
                clip-path: inset(0 0 0 0);
                opacity: 1;
            }

            100% {
                clip-path: inset(100% 0 0 0);
                opacity: 1;
            }
        }

        .hover-image {
            width: 261px;
            height: 100px;
            object-fit: cover;
            opacity: 0;
            transition: opacity 300ms ease-in-out;
            animation: drawLeftToRight 4s ease-in-out forwards;
        }
    }
}


.my-text {
    position: absolute;
    top: 1798px;
    width: 550px;
    height: 60px;
    padding: 20px;

}


@media (max-width: 1200px) {

    section {
        height: 100vh;
        width: 100%;
        background-image: url('./../../../../public/assets/img/bg_myStack.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        padding-top: 50px;
        flex-direction: column;
        background-size: cover;  


        .content {
            max-width: 1440px;
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 19px 72px;

            .headline-container {
                display: flex;
                flex-direction: column;
                gap: 50px;

                .headline {
                    display: flex;
                    flex-direction: column;
                    align-items: end;
                    margin-right: 50px;

                    p {
                        color: #fff;
                        padding-bottom: 10px;
                        font-weight: 500;
                        font-size: 20px;
                    }

                    h1 {
                        color: #fff;
                        font-size: 64px;
                        font-weight: 700;
                        z-index: 2;
                    }

                }

                .paper-content {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            .sub-content {
                display: flex;
                flex-direction: row;
                gap: 30px;
                align-items: center;
                justify-content: center;


                .skills_content {
                    height: 344px;
                    width: 50%;
                    display: flex;
                    align-content: center;
                    flex-wrap: wrap;
                    align-items: center;
                    gap: 30px;
                    justify-content: space-between;

                    p {
                        color: #fff;
                        padding-bottom: 10px;
                        font-size: 18px;
                        text-align: center;
                        width: 72px;
                        height: 15px;
                    }
                }

                .sticker {
                    transform: rotate(9deg);
                    position: relative;
                    display: inline-block;
                    cursor: pointer;
                    overflow: hidden;
                    width: 200px;
                    height: 200px;
                    border-radius: 15px;
                }

                .hover-image {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    width: 100%;
                    height: 100%;
                    transition: none;
                }

                .default-image,
                .sticker2-image {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 2;
                    width: 100%;
                    height: 100%;
                }

                .sticker2-image {
                    z-index: 2;
                    /* liegt über dem Hover-Bild */
                    transition: transform 225ms ease;
                    /* Nur Animation für die Verschiebung */
                }

                .animate-diagonal {
                    animation: slideOut 1s forwards;
                }

                @keyframes slideOut {
                    0% {
                        transform: translate(0, 0);
                    }

                    100% {
                        transform: translate(-200px, 200px);
                    }
                }

            }
        }

        .blueline_content {
            width: 290px;
            height: 80px;
            z-index: 1;
            position: absolute;
            top: 1757px;
            right: 80px;

            .hover-image {
                width: 290px;
                height: 80px;
                object-fit: cover;
                opacity: 0;
                transition: opacity 300ms ease-in-out;
                animation: drawLeftToRight 4s ease-in-out forwards;
            }
        }
    }


    .my-text {
        position: absolute;
        top: 1910px;
        width: 550px;
        height: 60px;
        padding: 20px;

    }
}


@media (max-width: 917px) {

    section {
        background-size: cover;  
        .content {
            .sub-content {
                gap: 30px;

                .skills_content {

                    gap: 10px;
                }
            }
        }
    }
}

@media (max-width: 895px) {

    section {
        height: 120vh;

        .content {
            align-items: center;

            .sub-content {
                height: 344px;
                width: 90%;
                display: flex;
                flex-direction: column;
                height: auto;

                .skills_content {
                    width: 100%;
                    gap: 50px;
                    display: flex;
                    align-content: center;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: flex-start;
                }

                .sticker {
                    top: -50px;
                }
            }
        }
    }
}

@media (max-width: 800px) {

    section {
        .content {
            padding: 19px 30px;


            .headline-container {
                .headline {
                    margin-right: 0px;
                }

                .paper-content {
                    margin-right: 0px;
                }
            }

            .sub-content {
                height: 344px;
                width: 90%;
                display: flex;
                flex-direction: column;
                height: auto;

                .skills_content {
                    width: 100%;
                    gap: 50px;
                    display: flex;
                    align-content: center;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: space-between;
                    position: relative;
                    top: -30px;
                }

                .sticker {
                    top: -50px;
                    position: relative;
                    top: -50px;
                }
            }
        }

        .my-text {
            top: 2150px;
        }

        .blueline_content {
            top: 1997px;
            right: 30px;
        }
    }
}


@media (max-width: 730px) {

    section {
        .content {
            padding: 19px 30px;

            .headline-container {
                .headline {
                    margin-right: 0px;
                }

                .paper-content {
                    margin-right: 0px;
                    width: 600px;
                    overflow-x: hidden;

                    img {
                        height: 150px;


                    }
                }
            }

            .sub-content {

                .skills_content {

                    top: -130px;
                }

                .sticker {
                    top: -150px;
                }
            }

            .blueline_content {
                width: 290px;
                height: 80px;
                z-index: 1;
                position: relative;
                top: -310px;
                right: -190px;
            }
        }
    }
}

@media (max-width: 699px) {

    section {
        .content {
            padding: 19px 50px;

            .headline-container {
                .headline {
                    margin-right: 0px;
                }

                .paper-content {

                    width: 550px;
                    overflow-x: hidden;
                }
            }

            .sub-content {
                height: 344px;
                width: 90%;
                display: flex;
                flex-direction: column;
                height: auto;

                .skills_content {
                    width: 100%;
                    gap: 50px;
                    display: flex;
                    align-content: center;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: flex-start;
                    position: relative;
                    top: -90px;
                }

                .sticker {
                    top: -50px;
                    position: relative;
                    top: -190px;
                    left: 150px;
                }
            }

            .blueline_content {
                right: -160px;
            }
        }
    }
}

@media (max-width: 603px) {

    section {
        .content {
            padding: 19px 50px;

            .headline-container {
                .headline {
                    margin-right: 0px;
                }

                .paper-content {
                    width: 520px;
                    overflow-x: hidden;

                    img {
                        height: 160px;
                    }

                    .my-text {
                        top: 2150px;
                        width: 500px;
                        height: 120px;

                    }
                }
            }

            .sub-content {
                height: 344px;
                width: 90%;
                display: flex;
                flex-direction: column;
                height: auto;

                .skills_content {
                    width: 100%;
                    gap: 40px;
                    display: flex;
                    align-content: center;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: flex-start;
                    position: relative;
                    top: -90px;
                }

                .sticker {
                    top: -50px;
                    position: relative;
                    top: -190px;
                    left: 100px;
                }
            }

            .blueline_content {
                top: -320px;
                right: -130px;
            }
        }
    }
}

@media (max-width: 570px) {

    section {
        .content {
            padding: 19px 50px;

            .headline-container {
                .headline {
                    margin-right: 0px;
                }

                .paper-content {
                    width: 500px;
                    overflow-x: hidden;

                    img {
                        height: 190px;
                    }

                    .my-text {
                        top: 2160px;
                        width: 480px;
                        height: 120px;

                    }
                }
            }

            .sub-content {
                height: 344px;
                width: 90%;
                display: flex;
                flex-direction: column;
                height: auto;

                .skills_content {
                    width: 100%;
                    gap: 30px;
                    display: flex;
                    align-content: center;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: flex-start;
                    position: relative;
                    top: -100px;
                }

                .sticker {
                    top: -50px;
                    position: relative;
                    top: -190px;
                    left: 100px;
                }
            }

            .blueline_content {
                top: -350px;
            }
        }
    }
}


@media (max-width: 536px) {

    section {
        .content {
            padding: 19px 50px;

            .headline-container {
                .headline {
                    margin-right: 0px;
                }

                .paper-content {
                    width: 480px;
                    overflow-x: hidden;

                    img {
                        height: 190px;
                    }

                    .my-text {
                        top: 2160px;
                        width: 480px;
                        height: 120px;

                    }
                }
            }

            .sub-content {
                height: 344px;
                width: 90%;
                display: flex;
                flex-direction: column;
                height: auto;

                .skills_content {
                    width: 100%;
                    gap: 25px;
                    display: flex;
                    align-content: center;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: flex-start;
                    position: relative;
                    top: -110px;
                }

                .sticker {
                    top: -50px;
                    position: relative;
                    top: -190px;
                    left: 100px;
                }
            }

            .blueline_content {
                top: -350px;
                right: -110px;
            }
        }
    }
}


@media (max-width: 520px) {

    section {
        .content {

            padding: 19px 10px;
            gap: 10px;

            .headline-container {
                gap: 10px;

                .paper-content {
                    width: 410px;
                    overflow-x: hidden;

                    img {
                        height: 220px;
                    }

                    .my-text {
                        top: 2130px;
                        width: 400px;
                        height: 120px;

                    }
                }
            }

            .sub-content {
                height: 344px;
                width: 90%;
                display: flex;
                flex-direction: column;
                height: auto;

                .skills_content {
                    width: 100%;
                    gap: 25px;
                    display: flex;
                    align-content: center;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: flex-start;
                    position: relative;
                    top: -150px;

                    div {
                        text-align: center;

                        img {
                            width: 53px;
                        }
                    }
                }

                .sticker {
                    top: -50px;
                    position: relative;
                    top: -250px;
                    left: 110px;
                }
            }

            .blueline_content {
                top: -320px;
                right: -90px;

            }
        }
    }
}


@media (max-width: 465px) {

    section {
        .content {

            padding: 19px 10px;
            gap: 10px;

            .headline-container {
                gap: 10px;

                .paper-content {
                    width: 360px;
                    overflow-x: hidden;

                    img {
                        height: 245px;
                    }

                    .my-text {
                        top: 2130px;
                        width: 350px;
                        height: 10px;

                    }
                }
            }

            .sub-content {
                height: 344px;
                width: 90%;
                display: flex;
                flex-direction: column;
                height: auto;

                .skills_content {
                    width: 100%;
                    gap: 25px;
                    display: flex;
                    align-content: center;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: flex-start;
                    position: relative;
                    top: -150px;

                    div {
                        text-align: center;

                        img {
                            width: 53px;
                        }
                    }
                }

                .sticker {
                    top: -50px;
                    position: relative;
                    top: -250px;
                    left: 80px;
                }
            }

            .blueline_content {
                top: -350px;
                right: -60px;

            }
        }
    }
}


@media (max-width: 440px) {

    section {
        .content {
            .sub-content {
                .skills_content {
                    gap: 20px;
                }
            }
        }
    }
}


@media (max-width: 423px) {

    section {
        .content {
            padding: 19px 10px;
            gap: 35px;

            .headline-container {
                gap: 10px;

                .paper-content {
                    img {
                        height: 245px;
                    }

                    .my-text {
                        top: 2130px;
                        width: 350px;
                        height: 10px;
                    }
                }
            }

            .sub-content {
                .skills_content {
                    justify-content: space-between;

                    div {
                        img {
                            width: 60px;
                        }
                    }
                }

                .sticker {
                    top: -50px;
                    position: relative;
                    top: -240px;
                    left: 80px;
                }
            }

            .blueline_content {
                top: -380px;
                right: -60px;
            }
        }
    }
}

@media (max-width: 399px) {

    section {
        .content {
            gap: 50px;

            .headline-container {
                .headline {
                    h1 {
                        font-size: 50px;
                    }
                }

                .paper-content {
                    width: 320px;

                    img {
                        height: 252px;
                    }

                    .my-text {
                        top: 2118px;
                        width: 320px;
                    }
                }
            }

            .sub-content {
                .skills_content {
                    gap: 20px;
                }

                .sticker {
                    top: -200px;
                    left: 50px;
                }
            }

            .blueline_content {
                width: 200px;
                top: -390px;
                right: -70px;

                .hover-image {
                    width: 200px;
                }
            }
        }
    }
}


@media (max-width: 399px) {

    section {
        .content {
            gap: 70px;

            .headline-container {
                .headline {
                    h1 {
                        font-size: 50px;
                    }
                    p{
                        font-size: 18px;
                    }
                }
                .paper-content {
                    width: 290px;

                    img {
                        height: 252px;
                    }

                    .my-text {
                        top: 2118px;
                        width: 300px;
                        font-size: 15px;
                    }
                }
            }

            .sub-content {
                .skills_content {
                    gap: 20px;
                    div{
                        p{font-size: 15px;}
                    }
                }

                .sticker {
                    top: -200px;
                    left: 50px;
                    width: 158px;
                }
            }

            .blueline_content {
                width: 180px;
                height: 60px;
                top: -396px;
                right: -50px;
                .hover-image {
                    width: 200px;
                    height: 60px;
                }
            }
        }
    }
}

@media (max-width: 321px) {

    section {
   
        .content {
            gap: 50px;

            .headline-container {
                .headline {
                    h1 {
                        font-size: 50px;
                    }
                    p{
                        font-size: 18px;
                    }
                }
                .paper-content {
                    width: 270px;

                    img {
                        height: 262px;
                    }

                    .my-text {
                        top: 2118px;
                        width: 280px;
                        font-size: 15px;
                    }
                }
            }

            .sub-content {
                .skills_content {
                    gap: 12px;
                    div{
                        p{font-size: 15px;}
                    }
                }

                .sticker {
                    top: -200px;
                    left: 50px;
                    width: 158px;
                }
            }

            .blueline_content {
                width: 200px;
                top: -380px;
                right: -38px;

                .hover-image {
                    width: 200px;
                }
            }
        }
    }
}