@use "./my-stack-style";
@use "./my-stack-responsive";


@media (max-width: 502px) {
    section {
        .content {
            .headline-container {
                .paper-content {
                    img {
                        height: 230px;
                    }
                }
            }

            .sub-content {
                top: -105px;

                .skills_content {
                    width: 100%;

                    div {
                        p {
                            font-size: 16px;
                            width: 77px;
                        }

                        img {
                            filter: grayscale(0%);
                        }

                        img:hover {
                            transform: scale(1);
                            filter: grayscale(0%);
                        }
                    }
                }

                .sticker {
                    top: -70px;
                }
            }
        }
    }

    .my-text {
        top: -180px;
    }
}


@media (max-width: 454px) {
    section {
        .content {
            .headline-container {
                .paper-content {
                    img {
                        height: 260px;
                    }
                }
            }

            .sub-content {
                top: -105px;

                .skills_content {
                    width: 105%;
                }

                .sticker {
                    top: -70px;
                    left: 100px;
                    width: 150px;
                    height: 150px;
                }
            }
        }
    }

    .my-text {
        top: -200px;
    }
}


@media (max-width: 436px) {
    section {
        height: 128vh;

        .content {
            .headline-container {
                .paper-content {
                    img {
                        height: 300px;
                    }
                }
            }

            .sub-content {
                top: -24px;

                .skills_content {
                    width: 98%;
                    justify-content: space-between;
                }

                .sticker {
                    top: -20px;
                    left: 70px;
                }
            }
        }
    }
    .my-text {
        top: -230px;
    }
}

@media (max-width: 353px) {
    section {
        .content {
            .headline-container {
                .paper-content {
                    img {
                        height: 300px;
                    }
                }
            }

            .sub-content {
                top: -17px;

                .skills_content {
                    width: 107%;
                }

                .sticker {
                    top: -36px;
                    left: 40px;
                }
            }
        }
    }
}

@media (max-width: 328px) {
    section {
        .content {
            .headline-container {
                .paper-content {
                    img {
                        height: 338px;
                    }
                }
            }

            .sub-content {
                top: -5px;

                .skills_content {
                    width: 109%;
                    justify-content: space-between;

                    div {
                        p {
                            font-size: 15px;
                            width: 73px;
                        }

                        img {
                            width: 55px;
                            height: 50px;
                        }
                    }
                }

                .sticker {
                    top: -50px;
                    left: 38px;
                }
            }
        }
    }

    .my-text {
        top: -260px;
    }
}