<section class="fontBricolageG">

    <div>
        <app-header></app-header>
        <div><a href="#">Go Back</a></div>

        <div class="container">

            <div class="content-left">
                <h1>Join</h1>
                <div class="blueline_content">
                    @if(showAnimation && isHovered){
                    <img class="hover-image" src="./assets/toggle/Blue line.svg" alt="Blueline">
                    }@else{
                    <img class="hover-image" src="./assets/toggle/blueline_Default.svg" alt="Blueline">
                    }
                </div>
                <h3>Description</h3>
                <span>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop
                    functions,
                    assign users and categories. </span>
                <h3>Implementation Details</h3>
                <span>Short text that describes your role or the workflow for this specific project. Let a recruiter
                    know
                    more about your knowledge and ability to work independently or collaboratively in a structured
                    way.</span>
                <span>Duration: 5 weeks</span>
                <div>
                    <span>CSS</span>
                    <span>CSS</span>
                    <span>CSS</span>
                    <span>CSS</span>
                    <span>CSS</span>
                </div>
            </div>

            <div class="content-right">
                <img src="./assets/img/join.png" alt="join-Project">
                <div>
                    <button>GitHub</button>
                    <button>Live Test</button>
                </div>
            </div>
        </div>
        <div><a href="#">Next Project</a></div>

    </div>
    <div id="background"></div>
</section>