section {
    display: flex;
    justify-content: center;
    padding: 80px 72px;
    gap: 50px;
 
    max-width: 1440px;
    width: 100%;

    div {
        width: 560px;
        overflow: hidden;

        p {
            font-size: 20px;
            font-weight: 500;
        }

        h1 {
            font-size: 64px;
            font-weight: 700;
        }

        .project_content {
                position: relative;
                border-radius: 18px;
                overflow: hidden;
    
                .project_link {
                    display: block;
                    position: relative;
                    text-decoration: none;
                    color: inherit;
                }
    
                img {
                    width: 100%;
                    height: 360px;
                    border-radius: 18px;
                    transition: transform 0.3s ease-in-out;
                    cursor: pointer;
                }
    
                &:hover img {
                    transform: scale(1.1) translateY(30px);;
                }
    
                .overlay {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 50%;
                    background: linear-gradient(to top, rgba(0, 0, 0, 0.788), rgba(0, 0, 0, 0));
                    opacity: 0;
                    transition: opacity 0.3s ease-in-out;
                    z-index: 5;
                }
    
                .details_button { 
                    font-family: 'Bricolage Grotesque';
                    position: absolute;
                    bottom: 20px;
                    left: 78%;
                    transform: translateX(-50%);
                    background-color: transparent;
                    color: white;
                    border: 2px solid white;
                    padding: 10px 20px;
                    width: 154px;
                    height: 40px;
                    border: 1px solid #ffffff;
                    font-weight: 500;
                    border-radius: 100px;
                    cursor: pointer;
                    opacity: 0;
                    white-space: nowrap;
                    box-shadow: 2px 3px 0 0 #ffffff;
                    transition: border-color 225ms ease-in-out, box-shadow 125ms ease-in-out;
                    cursor: pointer;
                    transition: width 0.6s ease-in-out, color 0.6s ease-in-out;
                    z-index: 10;
                }
    
                &:hover .overlay {
                    opacity: 1;
                }
    
                &:hover .details_button {
                    opacity: 1;
                }
               .details_button:hover {
                    background-color: #f77954;
                    box-shadow: 0 0 0 0;
                    position:absolute;
                    top: 308px;
                }
    
    
            }
            h3 {
                padding-top: 15px;
                font-size: 24px;
            }
    
            p {
                font-size: 18px;
                padding-top: 10px;
            }
    

        }


    }

section#projectsContainer {
    display: flex;
    padding: 19px 72px;
    gap: 50px;

    div {
        width: 560px;
        overflow: hidden;
        position: relative;

        .project_content {
            position: relative;
            border-radius: 18px;
            overflow: hidden;

            .project_link {
                display: block;
                position: relative;
                text-decoration: none;
                color: inherit;
            }

            img {
                width: 100%;
                height: 360px;
                border-radius: 18px;
                transition: transform 0.3s ease-in-out;
                cursor: pointer;
            }

            &:hover img {
                transform: scale(1.1);
            }

            .overlay {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 50%;
                background: linear-gradient(to top, rgba(0, 0, 0, 0.788), rgba(0, 0, 0, 0));
                opacity: 0;
                transition: opacity 0.3s ease-in-out;
                z-index: 5;
            }

            .details_button { 
                font-family: 'Bricolage Grotesque';
                position: absolute;
                bottom: 20px;
                left: 78%;
                transform: translateX(-50%);
                background-color: transparent;
                color: white;
                border: 2px solid white;
                padding: 10px 20px;
                width: 154px;
                height: 40px;
                border: 1px solid #ffffff;
                font-weight: 500;
                border-radius: 100px;
                cursor: pointer;
                opacity: 0;
                white-space: nowrap;
                box-shadow: 2px 3px 0 0 #ffffff;
                transition: border-color 225ms ease-in-out, box-shadow 125ms ease-in-out;
                cursor: pointer;
                transition: width 0.6s ease-in-out, color 0.6s ease-in-out;
                z-index: 10;
            }

            &:hover .overlay {
                opacity: 1;
            }

            &:hover .details_button {
                opacity: 1;
            }
           .details_button:hover {
                background-color: #f77954;
                box-shadow: 0 0 0 0;
                position:absolute;
                top: 308px;
            }


        }

        h3 {
            padding-top: 15px;
            font-size: 24px;
        }

        p {
            font-size: 18px;
            padding-top: 10px;
        }
    }
}

.blueline_content {
    width: 280px;
    height: 40px;
    z-index: 3;

    @keyframes drawLeftToRight {
        0% {
            clip-path: inset(0 100% 0 0);
            opacity: 0;
        }

        10% {
            clip-path: inset(0 0 0 0);
            opacity: 1;
        }

        90% {
            clip-path: inset(0 0 0 0);
            opacity: 1;
        }

        100% {
            clip-path: inset(0 100% 0 0);
            opacity: 1;
        }
    }

    .hover-image {
        width: 280px;
        height: 20px;
        object-fit: cover;
        opacity: 0;
        transition: opacity 300ms ease-in-out;
        animation: drawLeftToRight 4s ease-in-out forwards;
    }
}