<section id="projects" class="fontBricolageG">
    <div>
        <p>MY CRAFT</p>
        <H1>Projects</H1>
        <span>Encourage people to take a look and interact with your projects.
            Highlight your approach to creating responsive, user-friendly projects with efficient code.</span>
    </div>
    <div>
        <div>
            <a [routerLink]="['/join']">
                <img src="./assets/img/Laptop.png" alt="Join">
            </a>
        </div>
        <h3>Join</h3>
        <span>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions,
            assign users and categories. </span>
    </div>
</section>

<section id="projectContent" class="fontBricolageG">
    <div>
        <div>
            <a [routerLink]="['/game']">
                <img src="./assets/img/project_zombie.png" alt="Zombie Game">
            </a>
        </div>
        <h3>Game</h3>
        <p>An action-packed jump, run, slash, and throw game with an object-oriented approach. </p>
    </div>
    <div>
        <div>
            <a [routerLink]="['/pokedex']">
                <img src="./assets/img/Pokedex.png" alt="Zombie Game">
            </a>
        </div>
        <h3>Pokedex</h3>
        <p>An interactive Pokédex web app that fetches Pokémon data via an API, allowing users to search and explore Pokémon details easily.</p>
    </div>

</section>