<section id="projects" class="fontBricolageG">
    <div>
        <p>MY CRAFT</p>
        <H1>Projects</H1>
        <span>Encourage people to take a look and interact with your projects.
            Highlight your approach to creating responsive, user-friendly projects with efficient code.</span>
    </div>
    <div>
        <div>
            <img src="./assets/img/Laptop.png" alt="Join">
        </div>
        <h3>Join</h3>
        <span>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions,
            assign users and categories. </span>
    </div>
</section>

<section id="projectContent" class="fontBricolageG">
    <div>
        <div>
            <img src="./assets/img/porject_zombie.png" alt="Zombie Game">
        </div>
        <h3>Game</h3>
        <p>Jump, run, shlash and throw game based on object-oriented approach. Help Pepe to find coins and tabasco salsa
            to fight against the crazy hen.</p>
    </div>
    <div>
        <div>
            <img src="./assets/img/porject_zombie.png" alt="Zombie Game">
        </div>
        <h3>Pokedex</h3>
        <p>fvbdsbkjsdbkjbd</p>
    </div>

</section>