<section id="projects" class="fontBricolageG">
    <div (mouseover)="showImage()">
        <p>{{ 'projects.headline' | translate }}</p>
        <H1>{{ 'projects.title' | translate }}</H1>
        <div class="blueline_content">
            @if(showAnimation && isHovered){
            <img class="hover-image" src="./assets/toggle/projectline.svg" alt="Blueline">
            }@else{
            <img class="hover-image" src="./assets/toggle/projectlineD.svg" alt="Blueline">
            }
        </div>
        <br>
        <span>{{ 'projects.text' | translate }}</span>
    </div>
    <div>
        <div class="project_content" (mouseover)="onMouseOver('game')">
            <a [routerLink]="['/join']" class="project_link">
                <img src="./assets/img/Laptop.png" alt="Join">
                <span class="overlay" [class.show]="activeProject === 'game'"></span>
                <button class="details_button" [class.show]="activeProject === 'game'">Project Details</button> 
            </a>
        </div>
        <h3>Join</h3>
        <p>{{ 'projects.join' | translate }}</p>
    </div>
</section>

<section id="projectsContainer" class="fontBricolageG">
    <div (mouseover)="showImage()">
        <div class="project_content" (mouseover)="onMouseOver('game')">
            <a [routerLink]="['/game']" class="project_link">
                <img src="./assets/img/project_zombie.png" alt="Zombie Game">
          
            <span class="overlay" [class.show]="activeProject === 'game'"></span>
            <button class="details_button" [class.show]="activeProject === 'game'">Project Details</button> 
        </a>
        </div>
        <h3>Game</h3>
        <p>{{ 'projects.game' | translate }}</p>
    </div>

    <div>
        <div class="project_content" (mouseover)="onMouseOver('pokedex')">
            <a [routerLink]="['/pokedex']" class="project_link">
                <img src="./assets/img/Pokedex.png" alt="Pokedex">
           
            <span class="overlay" [class.show]="activeProject === 'pokedex'"></span>
            <button class="details_button" [class.show]="activeProject === 'pokedex'">Project Details</button> </a>
        </div>
        <h3>Pokédex</h3>
        <p>{{ 'projects.pokedex' | translate }}</p>
    </div>
</section>
