<section class="fontBricolageG project-page">

    <div>
        <app-header [ngClass]="{ 'hidden-header': isScrolledDown }" [projectPage]="true"></app-header>
        <div class="back-btn"><img src="./assets/icons/Back.svg" alt="Back"><a [routerLink]="['/']">{{ 'join.back' | translate }}</a></div>

        <div class="container" (mouseover)="showImage()">

            <div class="content-left">
                <h1>DA-Bubble</h1>
                <div class="blueline_content">
                    @if(showAnimation && isHovered){
                    <img class="hover-image" src="./assets/toggle/Blue line.svg" alt="Blueline">
                    }@else{
                    <img class="hover-image" src="./assets/toggle/blueline_Default.svg" alt="Blueline">
                    }
                </div>

                <h3>{{ 'pokedex.headline' | translate }}</h3>
                <br>
                <span>{{ 'da-bubble.description' | translate }}</span>
                <br>
                <br>
                <h3>{{ 'pokedex.subline' | translate }}</h3>
                <br>
                <span>{{ 'da-bubble.details' | translate }}</span>
                <br><br>
                <p>{{ 'da-bubble.weeks' | translate }}</p>
                <div class="icon_content">
                    <span><img class="icon" src="./assets/icons/CSS.svg" alt="CSS">CSS</span>
                    <span><img class="icon" src="./assets/icons/HTML.svg" alt="HTML">HTML</span>
                    <span><img class="icon" src="./assets/icons/Firebase.svg" alt="Firebase">Firebase</span>
                    <span><img class="icon" src="./assets/icons/Angular.svg" alt="Angular">Angular</span>
                    <span><img class="icon" src="./assets/icons/Ts.svg" alt="TypeScript">TypeScript</span>
                    <span><img class="icon" src="./assets/icons/Scrum.svg" alt="scrum">Scrum</span>
                </div>
            </div>

            <div class="content-right">
                <img src="./assets/img/DA-Bubble.png" alt="da-bubble">
                <div class="btn-content">
                    <a href="https://github.com/catalina-acosta/da-bubble" target="_blank"><button>GitHub</button></a>
                    <a href="#" target="_blank" ><button>Live Test</button></a>
                </div>
            </div>
        </div>

        <div class="respo-btn">
            <div class="next-btn"><a [routerLink]="['/join']">{{ 'join.next' | translate }}</a><img
                    src="./assets/icons/next.svg" alt="next"></div>
            <div class="back-btn-respo"><img src="./assets/icons/Back.svg" alt="Back"><a href="#projects">{{ 'join.back' |
                    translate }}</a></div>
        </div>

    </div>
    <div id="background"></div>
</section>