<section>
    <app-header></app-header>
  <div>
    <div class="content">
    <div class="headline">
    <div class="top_title">
        <img src="./assets/toggle/helloworld.png" alt="Hello">
        <div>
            <span>F</span>
            <span>r</span>
            <span>o</span>
            <span>n</span>
            <span>t</span>
            <span>e</span>
            <span>n</span>
            <span>d</span>
        </div>
    </div>
    <img class="my_pic" 
    [src]="imageSrc" 
    (mouseover)="changeImage(true)" 
    (mouseout)="changeImage(false)" 
    alt="ME">

    </div>

    <div class="sub_title">
        <span>D</span>
        <span>E</span>
        <span>V</span>
        <span>E</span>
        <span>L</span>
        <span>O</span>
        <span>P</span>
        <span>E</span>
        <span>R</span>
    </div>  
    <img class="get_in_touch" src="./assets/toggle/getintouch.png" alt="">
</div>
</div>
</section>