section {
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px 72px;

    .main-container {
        width: 100%;
        max-width: 1440px;

        >div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-top: 130px;

            .content {
                width: 1440px;
                height: 490px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
            }

            .headline {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 100px;
            }

            .top_title {
                display: flex;
                flex-direction: column;
            }

            button {
                position: relative;
                width: 168px;
                height: 40px;
                border: 1px solid #fff;
                border-radius: 100px;
                font-family: 'Bricolage Grotesque';
                font-size: 18px;
                font-weight: 500;
                color: #fff;
                background-color: transparent;
                white-space: nowrap;
                transition: width 0.6s ease-in-out, color 0.6s ease-in-out;
                z-index: 1;

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 50%;
                    width: 100%;
                    height: 100%;
                    border-radius: 100px;
                    background-color: #3355ff;
                    transform: translateX(-50%) scaleX(0);
                    transform-origin: center;
                    transition: transform 225ms ease-in-out;
                    z-index: -1;
                }

                .hand-image {
                    content: "";
                    position: absolute;
                    top: -35px;
                    left: 50%;
                    width: 35px;
                    height: 35px;
                    background-image: url('./../../../../public/assets/icons/waving_hand.png');
                    background-size: contain;
                    background-repeat: no-repeat;
                    transform: translateX(18px) scale(0) rotate(0deg);
                    transition: transform 0.6s ease-in-out;
                    z-index: 0;
                }

                &.hovered {
                    width: 200px;
                }

                &.hovered::before {
                    transform: translateX(-50%) scaleX(1);
                }

                &.hovered .hand-image {
                    transform: translateX(70px) scale(1) rotate(360deg);
                }
            }

            img.my_pic {
                width: 203px;
                height: 244px;
                transform: rotate(8deg);
                transition: opacity 225ms ease-in-out;
            }

            .frontend-content {
                width: 550px;

                span {
                    font-size: 128px;
                    font-weight: 700;
                    font-family: 'Bricolage Grotesque';
                    color: #fff;
                    transition: color 225ms ease, transform 225ms ease, opacity 225ms ease;
                    cursor: default;

                    &:first-child:hover {
                        text-transform: lowercase;
                        color: #f7c518;
                    }
                    

                    &:hover {
                        text-transform: uppercase;
                        color: #f7c518;
                    }
                }


            }



            .contact_btn {
                box-shadow: 2px 3px 0 0 #ffffff;
                transition: border-color 225ms ease-in-out, box-shadow 125ms ease-in-out;
                cursor: pointer;

                &:hover {
                    box-shadow: 0 0 0 0;
                    background-color: #f77954;
                    position: relative;
                    top: 3px;
                }
            }
        }

        .subline {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding-left: 100px;
            width: 894px;

            .sub_title {

                span {
                    transition: color 225ms ease, transform 225ms ease, opacity 225ms ease;
                    cursor: default;
                    font-size: 128px;
                    font-weight: 700;
                    font-family: 'Bricolage Grotesque';
                    color: #fff;

                    &:hover {
                        text-transform: lowercase;
                        color: #f7c518;
                    }
                }
            }
        }

        .link_content {
            padding: 10px 0px;
            display: flex;
            align-items: flex-start;
            gap: 5px;
            width: 100%;


            .image-wrapper {
                position: relative;
                border-radius: 50%;
                overflow: hidden;
                cursor: pointer;
                display: inline-block;
                border: 1px solid #fff;
                margin-bottom: 8px;
                padding: 3px;
                border-radius: 100%;

                img {
                    display: block;
                    width: 100%;
                    border-radius: 50%;
                    position: relative;
                    z-index: 1;
                    transition: transform 225ms ease-in-out;
                }

                .overlay {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 0%;
                    background-color: #3355ff;
                    transition: height 225ms ease-in-out;
                    border-radius: 50%;
                }

                &:hover .overlay {
                    height: 100%;

                    &:hover img {
                        transform: scale(1.05);
                    }
                }
            }

        }
    }
}

.my_pic_respo {
    display: none;
}

#background {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-image: url('./../../../../public/assets/img/background_hero.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width: 915px) {
    #background {
        background-size: cover;
    }

    section {
        .main-container {
            >div {
                span {
                    font-size: 100px;
                    font-weight: 700;
                    font-family: 'Bricolage Grotesque';
                    color: #fff;
                }

                img.my_pic {
                    width: 165px;
                    height: 200px;
                    transform: rotate(8deg);
                    transition: opacity 225ms ease-in-out;
                }

            }
        }
    }
}


@media (max-width: 800px) {

    section {
        .main-container {
            >div {
                .content {
                    justify-content: flex-start;
                }

                .headline {
                    gap: 70px;
                }

                span {
                    font-size: 80px;
                    font-weight: 700;
                    font-family: 'Bricolage Grotesque';
                    color: #fff;
                }
            }

            .link_content {
                display: none;
            }
        }
    }


}

@media (max-width: 715px) {

    section {
        .main-container {
            >div {
                .headline {
                    gap: 50px;
                }

                span {
                    font-size: 65px;
                    font-weight: 700;
                    font-family: 'Bricolage Grotesque';
                    color: #fff;
                }
            }
        }
    }
}


@media (max-width: 590px) {

    section {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;

        .main-container {
            >div {

                .content {
                    width: 1440px;
                    height: 490px;
                    display: flex;

                    flex-direction: column;
                    align-items: center;
                }

                .headline {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    gap: 0px;
                    width: 400px;

                    .top_title {
                        gap: 20px;
                    }
                }

                .subline {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    width: 400px;
                    gap: 25px;
                }

                span {
                    font-size: 65px;
                    font-weight: 700;
                    font-family: 'Bricolage Grotesque';
                    color: #fff;
                }

                img.my_pic {
                    display: none;
                }
            }
        }
    }

    .my_pic_respo {
        display: flex;
        position: absolute;
        top: 530px;
        width: 203px;
        height: 244px;
        transform: rotate(7deg);
        transition: opacity 225ms ease-in-out;
    }

}

@media (max-width: 460px) {

    section {
        .main-container {
            >div {

                .content {
                    padding-left: 20px;
                }

                .subline {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    width: 400px;
                    gap: 25px;
                    margin-left: -70px;
                }
            }
        }
    }

    .respoimage-content {
        display: flex;
        justify-content: center;

        .my_pic_respo {
            top: 490px;
        }
    }
}

@media (max-width: 413px) {

    section {
        .main-container {
            >div {
                span {
                    font-size: 60px;
                }

                .content {
                    padding-left: 60px;
                }

                .subline {
                    margin-left: -130px;
                }
            }
        }
    }
}

@media (max-width: 373px) {

    section {
        .main-container {
            >div {
                span {
                    font-size: 55px;
                }

                .content {
                    padding-left: 95px;
                }

                .subline {
                    margin-left: -190px;
                }
            }
        }
    }
}


@media (max-width: 338px) {

    section {
        .main-container {
            >div {
                span {
                    font-size: 50px;
                }

                .content {
                    padding-left: 115px;
                }

                .subline {
                    margin-left: -240px;
                }
            }
        }
    }
}