@use "./hero-responsive"; 

@media (max-width: 1010px) {
    #background {
        background-size: cover;
    }

    section {
        .main-container {
            >div {
                img.my_pic {
                    width: 165px;
                    height: 200px;
                }

                .frontend-content {
                    width: 380px;

                    span {
                        font-size: 100px;
                    }
                }

                .subline {
                    width: 712px;

                    .sub_title {
                        .first_child {
                            width: 59px;
                            min-width: 58px;
                        }

                        span {
                            transition: color 225ms ease, transform 225ms ease, opacity 225ms ease;
                            cursor: default;
                            font-size: 100px;
                            font-weight: 700;
                            font-family: 'Bricolage Grotesque';
                            color: #fff;

                            &:hover {
                                text-transform: lowercase;
                                color: #f7c518;
                            }
                        }
                    }
                }

            }
        }
    }
}


@media (max-width: 800px) {

    section {
        .main-container {
            >div {
                .content {
                    justify-content: flex-start;
                    padding-top: 0px;
                    gap: 10px;
                }

                .headline {
                    gap: 18px;
                }

                .frontend-content {
                    width: 372px;

                    span {
                        font-size: 85px;
                    }
                }

                .subline {
                    width: 615px;

                    .sub_title {
                        .first_child {
                            width: 48px;
                            min-width: 48px;
                        }

                        span {
                            font-size: 85px;
                        }
                    }
                }
            }

            .link_content {
                display: none;
            }
        }
    }


}

@media (max-width: 712px) {

    section {
        .main-container {
            >div {
                content {
                    gap: 20px;
                }

                .headline {
                    gap: 10px;
                }


                .frontend-content {
                    width: 320px;

                    span {
                        font-size: 73px;
                    }
                }

                .subline {
                    width: 555px;

                    .sub_title {
                        .first_child {
                            width: 42px;
                            min-width: 42px;
                        }

                        span {
                            font-size: 73px;

                        }
                    }
                }
            }
        }
    }
}


@media (max-width: 612px) {

    section {
        justify-content: flex-start;

        .main-container {
            >div {

                .content {
                    width: 458px;
                    align-items: flex-start;
                }

                .headline {
                    justify-content: flex-start;
                    gap: 0px;
                    width: 400px;

                    .top_title {
                        gap: 10px;
                    }
                }

                .subline {
                    width: 450px;
                    padding-left: 0px;

                    .first_child {
                        width: 42px;
                        min-width: 42px;
                    }
                }

                img.my_pic {
                    display: none;
                }
            }
        }
    }

    .my_pic_respo {
        display: flex;
        position: absolute;
        top: 530px;
        width: 203px;
        height: 244px;
        transform: rotate(7deg);
        transition: opacity 225ms ease-in-out;
    }

}




@media (max-width: 498px) {

    section {
        .main-container {
            >div {
                .content {
                    width: 455px;
                    align-items: center;
                }

                .headline {
                    .top_title {
                        gap: 20px;
                    }
                }

                .frontend-content {
                    width: 300px;

                    span {
                        font-size: 63px;
                    }
                }

                .subline {
                    width: 395px;

                    .sub_title {
                        span {
                            font-size: 63px;
                        }
                    }
                }

                button {

                    .hand-image {
                        left: -35%;
                        transform: translateX(108px) scale(0) rotate(0deg);
                    }

                    &.hovered {
                        width: 200px;
                    }

                    &.hovered::before {
                        transform: translateX(-50%) scaleX(1);
                    }

                    &.hovered .hand-image {
                        transform: translateX(70px) scale(1) rotate(360deg);
                    }
                }

                img.my_pic {
                    width: 203px;
                    height: 244px;
                    transform: rotate(8deg);
                    transition: opacity 225ms ease-in-out;
                }
            }
        }
    }
}



@media (max-width: 441px) {

    section {
        .main-container {
            >div {
                .headline {
                    width: 300px;
                }

                .frontend-content {
                    width: 240px;

                    span {
                        font-size: 53px;
                    }
                }

                .subline {
                    width: 308px;

                    .sub_title {
                        .first_child {
                            width: 30px;
                            min-width: 30px;
                        }

                        span {
                            font-size: 50px;

                        }
                    }
                }
            }
        }
    }

    .my_pic_respo {
        display: flex;
        position: absolute;
        top: 489px;
        width: 203px;
        height: 244px;
        transform: rotate(7deg);
        transition: opacity 225ms ease-in-out;
    }
}


@media (max-width: 348px) {

    section {
        .main-container {
            >div {

                .content {
                    width: 260px;
                }

                .headline {
                    width: 250px;
                }

                .frontend-content {
                    width: 200px;

                    span {
                        font-size: 45px;
                    }
                }

                .subline {
                    width: 255px;

                    .sub_title {
                        .first_child {
                            width: 25px;
                            min-width: 25px;
                        }

                        span {
                            font-size: 43px;

                        }
                    }
                }
            }
        }
    }
}

