section {
    height: 720px;
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 72px;
    gap: 50px;

    .location-content {
        img {
            width: 100%;
        }
    }

    .location-respo-content {
        display: none;

        img {
            width: 100%;
        }
    }

    div {
        flex: 1;
        display: flex;
        flex-direction: column;

        p {
            font-size: 20px;
            padding-bottom: 30px;
            font-weight: 500;
        }

        span {
            font-size: 20px;
            padding-top: 35px;
            padding-bottom: 30px;
        }

        h1 {
            font-size: 64px;
            font-weight: 700;
        }

        div:last-of-type {
            display: flex;
            align-items: flex-end;

            button {
                box-shadow: 2px 3px 0 0 #000;
                transition: border-color 225ms ease-in-out, box-shadow 125ms ease-in-out;
                cursor: pointer;
                position: relative;
                width: 154px;
                height: 40px;
                border: 1px solid #000;
                border-radius: 100px;
                font-family: 'Bricolage Grotesque';
                font-size: 18px;
                font-weight: 500;
                color: #000;
                background-color: transparent;
                white-space: nowrap;
                transition: width 0.6s ease-in-out, color 0.6s ease-in-out;

                &:hover {
                    box-shadow: 0 0 0 0;
                    background-color: #f77954;
                    position: relative;
                    top: 3px;
                }
            }
        }
    }

    .blueline_content {
        width: 300px;
        height: 40px;

        @keyframes drawLeftToRight {
            0% {
                clip-path: inset(0 100% 0 0);
                opacity: 0;
            }

            10% {
                clip-path: inset(0 0 0 0);
                opacity: 1;
            }

            90% {
                clip-path: inset(0 0 0 0);
                opacity: 1;
            }

            100% {
                clip-path: inset(0 100% 0 0);
                opacity: 1;
            }
        }

        .hover-image {
            width: 300px;
            height: 20px;
            opacity: 0;
            transition: opacity 300ms ease-in-out;
            animation: drawLeftToRight 4s ease-in-out forwards;
        }
    }
}

@media (max-width: 900px) {
    section {
        padding: 10px 52px;
        .location-content {
            display: none;
        }

        .location-respo-content {
            display: block;
        }
    }
}

@media (max-width: 800px) {
    section {
        height: 960px;
        flex-direction: column-reverse;
    }

}

@media (max-width: 600px) {
    section {
        padding: 10px 30px;
        
        div {
            h1 {
                font-size: 50px;
            }

            p {
                font-size: 17px;
                padding-bottom: 15px;
            }
            }
        }
    }

@media (max-width: 545px) {
    section {
        padding: 10px 20px;

        div {
            h1 {
                font-size: 50px;
            }

            p {
                font-size: 16px;
                padding-bottom: 15px;
            }

            span {
                font-size: 16px;
                padding-top: 5px
            }

            .blueline_content {
                width: 230px;
                height: 40px;

                img {
                    width: 100%;
                }
            }
        }
    }
}