<section id="aboutMe" class="fontBricolageG">
    <div class="location-content"><img src="{{ 'about-me.img' | translate }}" alt="Location"></div>
    <div class="location-respo-content"><img src="{{ 'about-me.img-small' | translate }}" alt="Location"></div>
    <div (mouseover)="showImage()">
        <p>{{ 'about-me.who' | translate }}</p>

        <h1>{{ 'about-me.about' | translate }}</h1>
        <div class="blueline_content">
            @if(showAnimation && isHovered){
            <img class="hover-image" src="./assets/toggle/Blue line.svg" alt="Blueline">
            }@else{
            <img class="hover-image" src="./assets/toggle/blueline_Default.svg" alt="Blueline">
            }
        </div>
        <span> {{ 'about-me.text' | translate }}
            <br><br>
            {{ 'about-me.subtitle' | translate }}
        </span>
        <div class="button-container">
            <a href="#contact">
                <button> {{ 'about-me.btn' | translate }}</button>
            </a>
        </div>
    </div>
</section>