
@media(max-width:512px) {
    .footer-container {
        .footer-logo {
            display: flex;
            align-items: center;
            justify-content: space-between;

            img {
                width: 40px;
                height: auto;
            }

            h4 {
                font-size: 16px;
            }
        }

        .footer-links {
            display: flex;
            align-items: flex-end;
            padding-top: 5px;
            justify-content: space-between;
            width: 100%;
            flex-direction: column;

            .links-content {
                display: flex;
                justify-content: space-between;
                width: 100%;
            }
        }

        .legal-notice {
            padding-bottom: 50px;
            text-align: end;

            &::after {
                left: 68%;
                transform: translateX(-50%);
                bottom: -3px;
            }
        }
    }


}

@media(max-width:357px) {
    .footer-container {
        .footer-links {
            .links-content {
                .footer-link {
                    padding: 7px 18px;
                    border-radius: 50px;

                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 50%;
                    }

                    &.hovered::before {
                        transform: translateX(-50%) scaleX(1);
                    }
                }
            }

            .github-link,
            .linkedIn-link,
            .email-link {
                display: flex;
                align-items: center;
                gap: 8px;
                position: relative;
            }

            .github-icon,
            .linkedin-icon,
            .email-icon {
                width: 25px;
                height: 25px;
                top: -23px;
                left: 50%;
            }
        }
    }
}