<section class="fontBricolageG">

    <div>
        <img src="./assets/icons/send.png" alt="send icon">
        <h2>{{ 'sendDialog.thx' | translate }}</h2>
        <br>
        <p>{{ 'sendDialog.answer' | translate }}</p>
<br>
        <p>{{ 'sendDialog.regards' | translate }}</p>
        <p>Caryen Song</p>
        
        <br>
        <button class="back-btn" mat-button (click)="closeDialog()"><img src="./assets/icons/Back.svg" alt="Back">{{ 'join.back' |
            translate }}</button>
        <br>
        <br>
    </div>
</section>