<section class="fontBricolageG">

    <div>
        <img src="./assets/icons/send.png" alt="send icon">
        <h2>Vielen Dank für Ihre Nachricht! </h2>
        <br>
        <p>Wir haben Ihr Kontaktformular erhalten und werden uns so schnell wie möglich bei Ihnen melden.</p>
<br>
        <p>Besten Grüße</p>
        <p>Caryen Song</p>
        
        <br>
        <button class="back-btn" mat-button (click)="closeDialog()"><img src="./assets/icons/Back.svg" alt="Back">{{ 'join.back' |
            translate }}</button>
        <br>
        <br>
    </div>
</section>