<div id="background">
<section class="fontBricolageG">
    <app-header [ngClass]="{ 'hidden-header': isScrolledDown }"></app-header>

    <div class="content">
        <h2>{{ 'impressum.title' | translate }}</h2>
        <br>
        <p>{{ 'impressum.subtitle' | translate }}</p>

        <p>Caryen Song <br>
            Johannes-Wirtz-Str 19,<br>
            47877 Willich,<br>
            {{ 'impressum.country' | translate }}<br>
            E-Mail: {{ 'impressum.email' | translate }}</p>
        <br>

        <h2>{{ 'impressum.subtitle1' | translate }}</h2>
        <br>
        <p>{{ 'impressum.text' | translate }}
            <a href="https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home2.show&lng=DE"
                target="_blank">https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home2.show&lng=DE</a> 
                {{ 'impressum.text2' | translate }}
            <br>
        </p>
        <br>
        <h2>{{ 'impressum.subtitle2' | translate }}</h2>
        <br>
        <p>{{ 'impressum.bildernachweis2' | translate }} Developer Akademie
            <br>
            {{ 'impressum.text3' | translate }}
            <br>
            <br>
            {{ 'impressum.quelle' | translate }}
        </p>

       <a href="#footer" class="back-btn" mat-button><img src="./assets/icons/Back.svg" alt="Back">{{ 'join.back' |
            translate }}</a>
        <br>
        <br>
    </div>

    <div class="footer-container">
   <app-footer [routerLink]="['/impressum']"></app-footer> 
    </div>
</section>
</div>