*{
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@font-face {
    font-family:'Bricolage Grotesque' ;
    src: url(./../public/assets/font/BricolageGrotesque-Regular.ttf);
}

.fontBricolageG{
    font-family: 'Bricolage Grotesque';
}
