<div id="background">
<section class="privacy-policy">
    <app-header [ngClass]="{ 'hidden-header': isScrolledDown }"></app-header>

    <div class="content">
        <h2>{{ 'privacyPolicy.title' | translate }}</h2>
        <br>
        <p>{{ 'privacyPolicy.description' | translate }}</p>
        <br>

        <h3>{{ 'privacyPolicy.section1.title' | translate }}</h3>
        <br>
        <p>{{ 'privacyPolicy.section1.content' | translate }}</p>
        <br>

        <h3>{{ 'privacyPolicy.section2.title' | translate }}</h3>
        <br>
        <p>{{ 'privacyPolicy.section2.intro' | translate }}</p>
        <br>
        <ul>
            <li>{{ 'privacyPolicy.section2.list.0' | translate }}</li>
            <li>{{ 'privacyPolicy.section2.list.1' | translate }}</li>
            <li>{{ 'privacyPolicy.section2.list.2' | translate }}</li>
            <li>{{ 'privacyPolicy.section2.list.3' | translate }}</li>
            <li>{{ 'privacyPolicy.section2.list.4' | translate }}</li>
            <li>{{ 'privacyPolicy.section2.list.5' | translate }}</li>
            <li>{{ 'privacyPolicy.section2.list.6' | translate }}</li>
            <li>{{ 'privacyPolicy.section2.list.7' | translate }}</li>
        </ul>
        <br>
        <h3>{{ 'privacyPolicy.section3.title' | translate }}</h3>
        <br>
        <p>{{ 'privacyPolicy.section3.content' | translate }}</p>
        <br>

        <h3>{{ 'privacyPolicy.section4.title' | translate }}</h3>
        <br>
        <p>{{ 'privacyPolicy.section4.content' | translate }}</p>
        <br>

        <h3>{{ 'privacyPolicy.section5.title' | translate }}</h3>
        <br>
        <p>{{ 'privacyPolicy.section5.intro' | translate }}</p>
        <ul>
            <li>{{ 'privacyPolicy.section5.list.0' | translate }}</li>
            <li>{{ 'privacyPolicy.section5.list.1' | translate }}</li>
            <li>{{ 'privacyPolicy.section5.list.2' | translate }}</li>
            <li>{{ 'privacyPolicy.section5.list.3' | translate }}</li>
            <li>{{ 'privacyPolicy.section5.list.4' | translate }}</li>
            <li>{{ 'privacyPolicy.section5.list.5' | translate }}</li>
        </ul>
        <br>

        <h3>{{ 'privacyPolicy.section6.title' | translate }}</h3>
        <br>
        <p>{{ 'privacyPolicy.section6.content' | translate }}</p>
        <br>

        <h3>{{ 'privacyPolicy.section7.title' | translate }}</h3>
        <br>
        <p>{{ 'privacyPolicy.section7.content' | translate }}</p>
        <p>Email: <a href="mailto:caryensong@googlemail.com">{{ 'impressum.email' | translate }}</a></p> 
        <br>
        <a href="#footer" class="back-btn" mat-button><img src="./assets/icons/Back.svg" alt="Back">{{ 'join.back' |
            translate }}</a>
    </div>  
    <div class="footer-container">
        <app-footer [routerLink]="['/impressum']"></app-footer> 
         </div>
  </section>
</div>